# Exclude development and CI files from generated archives
/build/ export-ignore
/tests/ export-ignore
/.github/ export-ignore
/.vscode/ export-ignore
/node_modules/ export-ignore
/.env export-ignore
/.env.* export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/*.psd export-ignore
/*.log export-ignore

# Keep important docs in archives
!/README.md
!/readme.html
